<?xml version="1.0" encoding="UTF-8"?>
    <web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
             id="WebApp_ID" version="3.1">
    <display-name>EmailSendingWebApp</display-name>

    <!-- SMTP settings -->
    <!--<context-param>
        <param-name>host</param-name>
        <param-value>smtp.mailtrap.io</param-value>
    </context-param>

    <context-param>
        <param-name>port</param-name>
        <param-value>2525</param-value>
    </context-param>-->

    <context-param>
        <param-name>userName</param-name>
        <param-value>793b611ba6b559</param-value>
    </context-param>

    <context-param>
        <param-name>password</param-name>
        <param-value>c0de1865fb6c62</param-value>
    </context-param>

    <welcome-file-list>
        <welcome-file>resources.web.EmailPage.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>true</param-value>
    </context-param>


    <listener>
        <listener-class>
            main.java.webserver.MyServletContextListener
        </listener-class>
    </listener>


    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>main.java.webserver.MyApplication</param-value>
        </init-param>
    </servlet>
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>main.java.webserver.EmailRestServer</param-value>
    </context-param>


    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>